/* @font-face {
    font-family: 'Droid Serif';
    font-weight: 400;
    src: url(../fonts/tDbK2oqRg1oM3QBjjcaDkOr4nAfcHi6FRUI.woff2) format('woff2');
}
@font-face {
    font-family: 'Droid Serif';
    font-weight: 700;
    src: url(../fonts/tDbX2oqRg1oM3QBjjcaDkOr4lLz5CwOnSGjW7BA.woff2) format('woff2');
} */
@font-face {
    font-family: 'Droid Serif';
    font-weight: 400;
    src: url(../fonts/tDbI2oqRg1oM3QBjjcaDkOr9rAXWGQyH.woff2) format('woff2');
}
@font-face {
    font-family: 'Droid Serif';
    font-weight: 700;
    src: url(../fonts/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwGtT0rU.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Pretendard-Black.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Pretendard-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('../fonts/BebasNeue-Regular.woff') format('woff'),
         url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}